<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h1 th:text="#{error.handler}">Something went wrong</h1>

    <p th:if="${url}">
        <b th:text="#{error.url}">Page:</b> <span th:text="${url}">Page URL</span>
    </p>

    <p th:if="${timestamp}" id='created'>
        <b th:text="#{error.occurred}">Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p>

    <p th:if="${status}">
        <b th:text="#{error.status}">Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>

</body>
</html>