<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>University</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
  <link rel="stylesheet" 
        type="text/css" 
        href="" 
        th:href="@{resourses/css/bootstrap.min.css}" />
</head>
<body>
  <div class="containter p-5">      
        <div class="row">
          <div class="col-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" 
                    aria-current="page"
                    th:text="#{navbar.home}">Home                    
                </li>
              </ol>
            </nav>
          </div>  
          <div class="col-6">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" 
                 href="#" 
                 role="button" 
                 id="dropdownMenuLink" 
                 data-toggle="dropdown" 
                 aria-haspopup="true" 
                 aria-expanded="false"
                 th:text="#{i18n.language}">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" 
                   href="#"
                   th:href=@{/?language=ru}
                   th:text="#{i18n.russian}">Russian                   
                </a>
                <a class="dropdown-item" 
                   href="#"
                   th:href=@{/?language=en}
                   th:text="#{i18n.english}">English                   
                </a>                
              </div>
            </div>
          </div>  
        </div>
        <div class="row">
            <div class="list-group">
            <a href="#"
               tabindex="1"
               th:href="@{/students}"
               th:text="#{home.students}"
               class="list-group-item list-group-item-action"
               >Students
            </a>
            <a href="#" 
               tabindex="2"
               th:href="@{/groups}"
               class="list-group-item list-group-item-action"
               th:text="#{home.groups}"                
               aria-disabled="true">Groups</a>
          </div>
        </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
          crossorigin="anonymous"></script>
  <script src="" th:src="@{/resourses/jq/jquery-3.5.1.min.js}"></script>
  <script src="" th:src="@{/resourses/js/bootstrap.min.js}"></script>
</body>
</html>
                        