<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
          type="text/css" 
          href="" 
          th:href="@{resourses/css/bootstrap.min.css}" />
</head>
<body>    
    <div class="containter p-5">
	    <div class="row">
	       <div class="col-6">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#"
                       th:href="@{/}"
                       th:text="#{navbar.home}">Home
                     </a>
                  </li>
                  <li class="breadcrumb-item active" 
                      aria-current="page"
                      th:text="#{navbar.students}">Students
                  </li>
                </ol>
              </nav>
            </div>
	    </div>
	    <div class="row">
          <div class="col-12">
		    <table class="table">
			  <thead class="thead-dark">
			     <tr>
			        <th scope="col" th:text="#{students.id}">id</th>
			        <th scope="col" th:text="#{students.firstname}">First Name</th>
			        <th scope="col" th:text="#{students.secondname}">Second Name</th>
				    <th scope="col" th:text="#{students.email}">Email</th>
				  </tr>
			  </thead>
			  <tbody>
			    <tr th:each="student : ${students}">
				  <th scope="row"><span th:text="${student.id}">id</span></th>
				  <td><span th:text="${student.firstname}">firstname</span></td>
				  <td><span th:text="${student.secondname}">secondname</span></td>
				  <td><span th:text="${student.email}">email</span></td>
				</tr>
		      </tbody>
			</table>
		  </div>
          <div class="col-12">
            <nav aria-label="Paination">
              <ul class="pagination" th:with="shift=2">
                <li class="page-item" th:if="${page} gt 1">
                  <a class="page-link" 
                     href="#"
                     th:href="@{/students?page={pagenum}(pagenum=${page - 1})}" 
                     aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" 
                    th:each="i : ${#numbers.sequence(0, 4)}"
                    th:with="pageNumber=${page+i-shift},pageRefNumber=${page+i-shift}"
                    th:classappend="${page+i-shift eq page} ? 'active'">
                  <a class="page-link"
                     th:if="${pageNumber} gt 0 and ${pageNumber} le ${maxPage}"
                     th:text="${pageNumber}" 
                     href="#"
                     th:href="@{/students?page={pagenum}(pagenum=${pageRefNumber})}">1
                  </a>
                </li>
                <li class="page-item" th:if="${page} lt ${maxPage}">
                   <a class="page-link" 
                      href="#"
                      th:href="@{/students?page={pagenum}(pagenum=${page + 1})}" 
                      aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                     <span class="sr-only">Next</span>
                   </a>
                 </li>
              </ul>
            </nav>
          </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous"></script>
<script src="" th:src="@{/resourses/jq/jquery-3.5.1.min.js}"></script>
<script src="" th:src="@{/resourses/js/bootstrap.min.js}"></script>
</body>
</html>
